<p id="notice"><%= notice %></p>

<h1>Menu Mains</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_mains.each do |menu_main| %>
      <tr>
        <td><%= menu_main.name %></td>
        <td><%= menu_main.description %></td>
        <td><%= menu_main.price %></td>
        <td><%= link_to 'Show', menu_main %></td>
        <td><%= link_to 'Edit', edit_menu_main_path(menu_main) %></td>
        <td><%= link_to 'Destroy', menu_main, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu Main', new_menu_main_path %>
